.dog-index-page-main-container {
  padding: 100px 60px;
  background-color: #f4f4f4;
  font-family: Marker Felt, fantasy;
  // grid-template-columns: 40 30 30;
  .dog-index-page-list-container {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    margin: 0px auto;
    padding-bottom: 30px;
    // display: flex;
    // flex-direction: column;
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    margin-right: 25px;
    margin-left: -20px;
    #dog-index-page-image-container {
      display: flex;
      justify-content: space-around;
    }
    .dog-index-page-list-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      // flex-direction: column;
      // box-sizing: border-box;
      #icon-container {
        display: flex;
        #like-icon,
        #comment-icon {
          border: 1px solid #49a7e3;
          border-radius: 15px;
          width: 20px;
          padding: 10px;
          margin-top: 15px;
        }

        #like-icon {
          margin-right: 5px;
        }

        #comment-icon {
          margin-left: 5px;
        }
      }
      li {
        margin: 0 10px;
        font-family: Gill Sans, sans-serif;
      }
      li span {
        // padding-left: 20px;
        margin-right: 3px;
        font-family: Marker Felt, fantasy;
      }
      // #dog-index-page-description{
      // width: 80%;
      // display: inline;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // }
      //  #dog-index-page-description-2{
      // width: 80%;
      // display: block;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // }
      // #dog-index-page-click-here{
      // color: blue;
      // }
    }
    #dog-index-page-image {
      // width: 100%;
      // height: 280px;
      width: 100%;
      height: 100%;
    }
  }
}
#dog-index-page-card-container {
  border: 3px solid #49a7e3;
  border-radius: 20px;
  // width: 200px;
  padding: 30px 30px;
  // margin: 0 30px;
  height: 430px;
  // min-height: 400px;
  background: #e9f8ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#dog-index-page-card-container:hover {
  transform: scale(1.05, 1.05);
}
#dog-index-page-card-container:hover::after {
  opacity: 1;
}
@media screen and (max-width: 1550px) {
  #dog-index-page-card-container {
    border: 3px solid #49a7e3;
    background: #e9f8ff;
    // width: 300px;
    padding: 20px 30px;
    // margin: 0 30px;
    height: 330px;
    // min-height: 300px;
  }
}
@media screen and (max-width: 900px) {
  #dog-index-page-card-container {
    border: 3px solid #49a7e3;
    background: #e9f8ff;
    // width: 300px;
    padding: 30px 30px;
    // margin: 0 30px;
    height: 200px;
    // min-height: 300px;
  }
}
