.dog-show-container {
  background-color: #f4f4f4;
  padding-top: 130px;
  padding-bottom: 65px;
  font-family: Marker Felt, fantasy;
  font-size: 20px;
}
.dog-show-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  border: 6px solid rgb(73, 167, 227);
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  overflow: scroll;
  background-color: rgb(232, 248, 253);
}

.dog-show-info {
  // display: grid;
  // grid-template-columns: 50% 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.dog-image {
  margin-top: 30px;
}

.dog-show-info-list {
  font-family: Marker Felt, fantasy;
  margin-left: 30px;
  margin-top: 30px;
}

.dog-name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.dog-show-infos {
  font-weight: 50;
}

.dog-age,
.dog-breed,
.dog-gender,
.dog-strengths,
.dog-status,
.dog-about {
  margin-bottom: 7px;
}

.dog-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.description {
  font-family: Gill Sans, sans-serif;
}

.appt-btn {
  justify-content: center;
  margin-top: 50px;
  border: 2px solid rgb(73, 167, 227);
  font-size: 20px;
  background-color: rgb(73, 167, 227);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.appt-form-box {
  background-color: #f4f4f4;
  font-family: Marker Felt, fantasy;
  padding-bottom: 50px;
}

.appt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  border: 6px solid rgb(73, 167, 227);
  margin: 0 200px;
  padding: 20px;
  overflow: scroll;
  background-color: rgb(232, 248, 253);
}

.appt-form-content {
  margin-top: 10px;
}

h1.appt-header {
  justify-content: center;
}

.appt-fill-in {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.shelter-hrs {
  color: red;
  font-size: 15px;
}

.appt-submit {
  justify-content: center;
  margin-top: 15px;
  border: 2px solid rgb(73, 167, 227);
  font-size: 20px;
  background-color: rgb(73, 167, 227);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.appt-submit:hover {
  background-color: #77caff;
}

.choose-time,
.choose-date,
.phone-number,
.questions-comments {
  margin-bottom: 10px;
}

.phone-format {
  font-size: 15px;
}

.like-button {
  width: 20px;
}

.like-btn {
  margin-right: 10px;
  border-radius: 50%;
  height: 34px;
  border: 3px solid #49a7e3;
  cursor: pointer;
}
