.boxy {
  margin-left: 20px;
  width: 290px;
  height: 450px;
  background-image: url("https://i.imgur.com/TUOQo0E.png");
}
.heightUpload {
  padding-top: 40px;
  height: 450px;
  border-radius: 3px;
}
