.noUserNavBar-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color: #E9F8FF;

    .noUserNavBar-left-side-of-navbar{
        display: flex;
        align-items: center;
        justify-content: center;

        #logo{
            height: 70px;
        }
        .nav-about{
            padding-top: 14px;
            margin: 0 30px;
            font-size: 21px;
            font-weight: 500;
            font-family: Marker Felt, fantasy;
            cursor:pointer;
        }
        .nav-contact{
            padding-top: 14px;
            margin: 0 30px;
            font-size: 21px;
            font-weight: 500;
            font-family: Marker Felt, fantasy;
            cursor:pointer;
        }

    }


    .noUserNavBar-right-side-of-navbar{
        display: flex;
        align-items: center;
        justify-content: center;

        .noUserNavBar-nav-login-button{
            background-color: rgb(73, 167, 227);
            border-radius: 20px;
            border: 1px solid rgb(73, 167, 227);
            text-align: center;
            width: 78px;
            height: 36px;
            color: white;
            margin-right: 15px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 21px;
            cursor:pointer;
            font-family: Marker Felt, fantasy;

        }

        .noUserNavBar-nav-signup-button{
            background-color: rgb(73, 167, 227);
            border-radius: 20px;
            border: 1px solid rgb(73, 167, 227);
            text-align: center;
            width: 100px;
            height: 36px;
            color: white;
            margin-right: 15px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 21px;
            cursor:pointer;
            font-family: Marker Felt, fantasy;
        }
    }
}

.currentUserNavBar-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color: #E9F8FF;
    font-family: Marker Felt, fantasy;


    .currentUserNavBar-left-side{
         display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;

     

        .search-bar-input-field{
            width: 500px;
            height: 30px;
            border: 1px solid #0022ff;
            margin: 1px 30px;;
            padding: 5px 20px;
            border-radius: 8px;
            transition: border-color 200ms;
            box-sizing: border-box;
            background: white; 
        }


    }


    .currentUserNavBar-nav-logout-button{
        background-color: rgb(73, 167, 227);
        border-radius: 20px;
        border: 1px solid rgb(73, 167, 227);
        text-align: center;
        width: 100px;
        height: 36px;
        color: white;
        margin-right: 15px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 21px;
    }
}



.shelterUserNavBar-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    background-color: #E9F8FF;
    font-family: Marker Felt, fantasy;



    .shelterUserNavBar-left-side-of-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;

        a{
            text-decoration: none;
            color: black;
        }

    }



    
    
    .shelterUserNavBar-right-side-of-navbar{
        
        
        .shelterUserNavBar-nav-normal-button{
            background-color: rgb(73, 167, 227);
            border-radius: 20px;
            border: 1px solid rgb(73, 167, 227);
            text-align: center;
            width: 100px;
            height: 36px;
            color: white;
            margin-right: 15px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 21px;
            font-family: Marker Felt, fantasy;

        }

        .shelterUserNavBar-nav-appointment-button{
            background-color: rgb(73, 167, 227);
            border-radius: 20px;
            border: 1px solid rgb(73, 167, 227);
            text-align: center;
            width: 150px;
            height: 36px;
            color: white;
            margin-right: 15px;
            margin-top: 15px;
            font-weight: 500;
            font-size: 21px;
            font-family: Marker Felt, fantasy;

        }

    }

}
