@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.contact-waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 600px;
}
.contact-waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, rgb(236, 145, 221) 20%, rgb(241, 109, 241) 80%);
}
.contact-bgTop {
    z-index: 15;
    opacity: 0.5;
}
.contact-bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.contact-bgBottom {
    z-index: 5;
}
.contact-wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.contact-waveTop {
    background-size: 50% 100px;
}
.contact-waveAnimation .contact-waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.contact-waveMiddle {
    background-size: 50% 120px;
}
.contact-waveAnimation .contact-waveMiddle {
    animation: move_wave 10s linear infinite;
}
.contact-waveBottom {
    background-size: 50% 100px;
}
.contact-waveAnimation .contact-waveBottom {
    animation: move_wave 15s linear infinite;
}

.contact-page-form {
  padding: 18px;
  font-family: Marker Felt, fantasy;
  position: absolute;
  margin: 20px;
}

// .contact-page-input-container {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   background-color: white;
//   height: 500px;
//   width: 400px;
//   border-radius: 3px;
// }