.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
    padding: 18px;
    font-family: Marker Felt, fantasy
}

.login-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 3px;
}


.login-input-container {
    padding: 7px;
    margin-top: 30px;
    width: 365px;
    height: 500px;
}

.login-form-top-level {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 20px;

}

h2.login-header {
    /* font-size: 15px; */
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.modal-signup-btn {
    border: 1px solid rgb(73, 167, 227);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: -3px;
    margin-right: 10px;
    cursor:pointer;
    font-size: 18px;
    font-family: Marker Felt, fantasy;
}

.modal-signup-btn:hover {
    background-color: rgb(73, 167, 227);
    color: white;
}



/* .demo-button {
    border: 1px solid rgb(73, 167, 227);
    border-radius: 20px;
    text-align: center;
    margin: 4px 2px;
    padding: 10px;
}

.demo-button:hover {
    background-color: rgb(73, 167, 227);
    color: white;
} */

.login-email-input-box {
  margin-bottom: 10px;
}

.login-password-input-box {
  margin-top: 3px;
}

.input-titles {
  color: rgb(73, 167, 227);
  margin-left: 30px;
  margin-bottom: 5px;
}

.input-boxes {
    background-color: rgb(243, 241, 241);
    height: 45px;
    width: 322px;
    border-radius: 3px;
    border: 1px solid white;
    margin-left: 30px;
    font-size: 15px;
}

.input-boxes:hover {
    border-color: rgb(73, 167, 227);
}

.login-submit {
    border: 1px solid rgb(73, 167, 227);
    border-radius: 3px;
    height: 47px;
    width: 322px;
    text-align: center;
    padding: 10px;
    background-color: rgb(73, 167, 227);
    margin-left: 30px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    cursor:pointer;
    font-family: Marker Felt, fantasy


}

.login-submit:hover {
    background-color: rgb(73, 167, 227);
    color: white;
}

.demo-button, .shelter-demo-button {
  border: 1px solid rgb(73, 167, 227);
    border-radius: 3px;
    height: 37px;
    width: 322px;
    text-align: center;
    padding: 10px;
    background-color: rgb(73, 167, 227);
    margin-left: 20px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 100;
    color: white;
    cursor:pointer;
    font-family: Marker Felt, fantasy;
}

.demo-buttons {
  display: flex;
}

.demo-button:hover {
    background-color: rgb(73, 167, 227);
    color: white;
}

.shelter-demo-button:hover {
    background-color: rgb(73, 167, 227);
    color: white;
}

.render-errors {
  color: rgb(226, 51, 28);
}

.signup-form-container {
    padding: 18px;
    font-family: Marker Felt, fantasy;
}

.signup-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 650px;
    width: 400px;
    border-radius: 3px;
}

.signup-input-container {
    padding: 5px;
    width: 365px;
    height: 500px;
    margin-bottom: 160px;
}

.signup-form-top-level {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h2.signup-header {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.signup-email-input-box {
  margin-top: 10px;
  margin-bottom: -10px;
}

.signup-fname-input-box {
  margin-top: 3px;
  margin-bottom: -10px;
}

.signup-lname-input-box {
  margin-top: 3px;
  margin-bottom: -10px;
}

.signup-password-input-box {
  margin-top: 3px;
}

/* .asterisk {
    color: rgb(213, 93, 39)
} */

.modal-login-btn {
    border: 1px solid rgb(73, 167, 227);
    border-radius: 20px;
    text-align: center;
    /* margin-top: 1px; */
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    cursor:pointer;
    font-size: 18px;
    font-family: Marker Felt, fantasy;
}

.modal-login-btn:hover {
    background-color: rgb(73, 167, 227);
    color: white;

}

.shelter-verify-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-left: 17px;
}

.trigger-form {
  margin-top: 7px;
}

.shelter-name {
  font-size: 15px;
  color: rgb(73, 167, 227);
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.address {
  font-size: 15px;
  color: rgb(73, 167, 227);
  margin-left: 30px;
  margin-bottom: 5px;
}

.shelter-name-input-box {
  margin-bottom: 10px;
}

.address-input-box {
  margin-bottom: 10px
}

.shelter-input-boxes {
    background-color: rgb(243, 241, 241);
    height: 35px;
    width: 322px;
    border-radius: 3px;
    border: 1px solid white;
    margin-left: 30px;
    font-size: 15px;
}

.shelter-input-boxes:hover {
    border-color: rgb(73, 167, 227);
}

.signup-submit {
    border: 1px solid rgb(73, 167, 227);
    border-radius: 3px;
    height: 47px;
    width: 322px;
    text-align: center;
    padding: 10px;
    background-color: rgb(73, 167, 227);
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    cursor:pointer;
    font-family: Marker Felt, fantasy;

}

.signup-submit:hover {
    background-color: rgb(73, 167, 227);
    color: white;
}