@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.splash-header {
  font-size: 30px;
  font-family: Marker Felt, fantasy;
}
.Dog {
//   width: 1000px;
//   height: 600px;
    // max-width: 1920px;
    width: 100%;
    height: 500px;
    object-fit: cover;


}

#test{
    width: 100%;
}
// .featured {
//   width: 100%;
// }
// // .slick-slide {
// .slick-slider {
//   width: 200px;
//   // for absorbing width from @Ken Wheeler answer
//   //   box-sizing: border-box;
// }
//   width: 200px;
// }
.slick-slider {
    margin: auto;
//   width: 1000px;
    width: 100%;
}
.slick-track {
  display: flex;
  align-items: center;
  width: 400px;
}


.splash-page-main-content-container{
    margin-top: 100px;
    font-family: Marker Felt, fantasy;

    
    h1{
        text-align: center;
    }
}


.helpful-information-banner-container{
    display: flex;
    padding: 50px 20px;
    // background: #f4f4f4;
    background-color: transparent;
    justify-content: space-between;

    #helpful-information-banner-parts{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px;

       img{
           height: 50px;
       }
    }
}

// .splash-page-footer-container{
//     display: flex;
//     justify-content: space-evenly;
//     color: white;
//     background-color: black;
//     // padding: 50px 100px;

//     .splash-page-footer-parts{
//         display: flex;
//         flex-direction: column;
//         margin: 10px 100;
//         width: 400px;

//         h1{
//             font-size: 15px;
//         }
//         div{
//             font-size: 12px;
//         }
//     }
//     // .splash-page-footer-newsletter{
//     //     margin: 10px 100px;


//     //      h1{
//     //         font-size: 12px;
//     //     }
       
//     //       button{
//     //         width: 300px;
//     //     }
    
//     // }

// }

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, rgb(144, 208, 248) 20%, rgb(167, 215, 245) 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 150px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 120px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}