#all-appts-title1 {
    text-align: center;
    font-family: Marker Felt, fantasy;
    background-color: #f4f4f4;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-top: 50px;
}

.appointments-page-list-container {
  background: #f4f4f4;
  height: 100%;
  padding-top: 30px;
}

.appointmentdetails {
    display: flex;
}

.appttable {
    // float: left;
}

.tableheaders {
    float: left;
}

table,
th,
td {
    border: 1px solid rgb(73, 167, 227);
    border-collapse: separate;
    font-family: Marker Felt,
    fantasy;
}

th,
td {
    padding: 15px;
    width: 130px;
      height: 50px;
    vertical-align: middle;
    text-align: center;

}

table {
//   border-spacing: 5px;
  margin: auto;
  border-radius: 5px;
}

.tablebuttons {
    display: flex;
    flex-direction: column;
}

.appt-button {
    padding: 20px;
    cursor: pointer;
    width: 161px;
    font-family: Marker Felt,
    fantasy;
    border: 1px solid rgb(73, 167, 227);
    font-size: 15px;
}

#btn-approve {
    background-color: red($color: #a70e0e)
}

#Approved {
    background-color: #6fca67 !important;
}
#Disapproved {
    background-color: #cf4a4a !important;
}

.comments {
    width: 300px;
}
