#all-appts-title{
    margin-top: 100px;
}

.appointments-page-list-container {
  background: #f4f4f4;
}

.appointmentdetails {
    display: flex;
}

.appttable {
    float: left;
}

.tableheaders {
    float: left;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    width: 130px;
      height: 50px;
      
}

table {
  border-spacing: 5px;
  margin: auto;
  border-radius: 10px;
}

.tablebuttons {
    display: flex;
    flex-direction: column;
}

.appt-button {
    padding: 20px;
    cursor: pointer;
}

#btn-approve {
    background-color: red($color: #a70e0e)
}